In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy import stats
import xlsxwriter

# Part A

# IG

In [5]:
data_IG = pd.read_excel('/Users/Mello/Desktop/Python/Credit Trader Programming Project.xlsx', sheet_name='trades_data_IG')
IG_TransactionCost_Percent = ((data_IG['SpreadDuration'] / 100) * (data_IG['TradeSpread'] - data_IG['OAS']) * data_IG['TradeDirection'])
IG_TransactionCost_Dollar = ((data_IG['TradeSize(MM)'] * (data_IG['Price'] / 100) * 1000000)) * (IG_TransactionCost_Percent / 100)
data_IG['TransactionCost ($)'] = IG_TransactionCost_Dollar 
data_IG['TransactionCost (return%)'] = IG_TransactionCost_Percent

# HY

In [6]:
#Note - "Price" was used to calculate "TransactionCost (return%)" to keep the methodology the same as IG.

data_HY = pd.read_excel('/Users/Mello/Desktop/Python/Credit Trader Programming Project.xlsx', sheet_name='trades_data_HY')
HY_TransactionCost_Percent = (((data_HY['Price'] - data_HY['TradePrice']) * data_HY['TradeDirection']) / data_HY['Price'])*100
HY_TransactionCost_Dollar = ((data_HY['TradeSize(MM)'] * (data_HY['Price'] / 100)) * 1000000) * (HY_TransactionCost_Percent / 100)
data_HY['TransactionCost ($)'] = HY_TransactionCost_Dollar 
data_HY['TransactionCost (return%)'] = HY_TransactionCost_Percent

# Saving Excel File

In [7]:
writer_a = pd.ExcelWriter('/Users/Mello/Desktop/Python/Credit Trader Programming Project.xlsx', engine = 'xlsxwriter')
pd.DataFrame(data_HY).to_excel(writer_a, sheet_name='trades_data_HY')
pd.DataFrame(data_IG).to_excel(writer_a, sheet_name='trades_data_IG')
writer_a.save()
writer_a.close()

# Part B

# IG & HY

In [8]:
data_IG_b = pd.read_excel('/Users/Mello/Desktop/Python/Credit Trader Programming Project.xlsx', sheet_name='trades_data_IG')
data_HY_b = pd.read_excel('/Users/Mello/Desktop/Python/Credit Trader Programming Project.xlsx', sheet_name='trades_data_HY')

In [9]:
data_IG_b['Rating'].replace(['AAA'], 'AAA', inplace = True)
dfAAA = data_IG_b[ data_IG_b['Rating'] == 'AAA']

data_IG_b['Rating'].replace(['AA1', 'AA2', 'AA3'], 'AA', inplace = True)
dfAA = data_IG_b[ data_IG_b['Rating'] == 'AA']

data_IG_b['Rating'].replace(['A1', 'A2', 'A3'], 'A', inplace = True)
dfA = data_IG_b[ data_IG_b['Rating'] == 'A']

data_IG_b['Rating'].replace(['BBB1', 'BBB2', 'BBB3'], 'BBB', inplace = True)
dfBBB = data_IG_b[ data_IG_b['Rating'] == 'BBB']

data_HY_b['Rating'].replace(['BB1', 'BB2', 'BB3'], 'BB', inplace = True)
dfBB = data_HY_b[ data_HY_b['Rating'] == 'BB']

data_HY_b['Rating'].replace(['B1', 'B2', 'B3'], 'B', inplace = True)
dfB = data_HY_b[ data_HY_b['Rating'] == 'B']

data_HY_b['Rating'].replace(['CCC1', 'CCC2', 'CCC3'], 'CCC', inplace = True)
dfCCC = data_HY_b[ data_HY_b['Rating'] == 'CCC']

data_HY_b['Rating'].replace(['CC'], 'CC', inplace = True)
dfCC = data_HY_b[ data_HY_b['Rating'] == 'CC']

data_HY_b['Rating'].replace(['C'], 'C', inplace = True)
dfC = data_HY_b[ data_HY_b['Rating'] == 'C']


statAAA = dfAAA.groupby('Sector2')['TransactionCost (return%)'].mean()
statAA = dfAA.groupby('Sector2')['TransactionCost (return%)'].mean()
statA = dfA.groupby('Sector2')['TransactionCost (return%)'].mean()
statBBB = dfBBB.groupby('Sector2')['TransactionCost (return%)'].mean()
statBB = dfBB.groupby('Sector2')['TransactionCost (return%)'].mean()
statB = dfB.groupby('Sector2')['TransactionCost (return%)'].mean()
statCCC = dfCCC.groupby('Sector2')['TransactionCost (return%)'].mean()
statCC = dfCC.groupby('Sector2')['TransactionCost (return%)'].mean()
statC = dfC.groupby('Sector2')['TransactionCost (return%)'].mean()

dfs = pd.DataFrame()

dfs['AAA'] = statAAA
dfs['AA'] = statAA
dfs['A'] = statA
dfs['BBB'] = statBBB
dfs['BB'] = statBB
dfs['B'] = statB
dfs['CCC'] = statCCC
dfs['CC'] = statCC
dfs['C'] = statC

dfs.transpose()

Sector2  Financial  Industrials   Utility
AAA            NaN          NaN       NaN
AA       -0.128260    -0.168044 -0.195898
A        -0.157654    -0.168023 -0.194653
BBB      -0.195237    -0.195360 -0.204995
BB       -0.378987    -0.360503 -0.343406
B        -0.427558    -0.410288 -0.433920
CCC      -0.611193    -0.532121       NaN
CC             NaN    -1.071886       NaN
C              NaN    -1.170367       NaN

In [10]:
dfs.transpose().to_excel('/Users/Mello/Desktop/Python/trade_returns.xlsx')